<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="after-box">
		<div class="results-box">
			<h5 style="text-align: center; margin-top: 20px;">Média</h5>
			<h5 style="text-align: center;">{{media}}</h5>
		</div>
		<div class="results-box">
			<h5 style="text-align: center; margin-top: 20px;">Moda</h5>
			<h5 style="text-align: center;">{{moda}}</h5>
		</div>
		<div class="results-box">
			<h5 style="text-align: center; margin-top: 20px;">Mediana</h5>
			<h5 style="text-align: center;">{{mediana}}</h5>
		</div>
		<div class="results-box">
			<h5 style="text-align: center; margin-top: 20px;">Desvio padrão</h5>
			<h5 style="text-align: center;">{{desvio}}</h5>
		</div>
		<div class="results-box">
			<h5 style="text-align: center; margin-top: 20px;">Coeficiente variância</h5>
			<h5 style="text-align: center;">{{coeficiente}}</h5>
		</div>
	</div>
	<div class="quantitativa-chart" id="discreta"></div>
	<div class="tables-box" ">
		<table>
			<thead>
				<tr>
					<th width="100 ">Valor</th>
					<th width="100 ">Frequência</th>
					<th width="100 ">Frequência %</th>
					<th width="100 ">Frequência acumulada</th>
					<th width="100 ">Frequência acumulada %</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in tabelaDiscreta ">
					<td>{{item.valor}}</td>
					<td>{{item.frequencia}}</td>
					<td>{{item.freqR.toFixed(2)}}</td>
					<td>{{item.freqA}}</td>
					<td>{{item.freqAP.toFixed(2)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="buttons " style="margin-top: 400px; width: 100%; ">
		<div class="button-group " style="margin-right: auto; margin-left: auto; width: 30%; ">
			<a class="hollow button success " style="width: 50% " ui-sref="home ">Menu principal</button>
				<a class="button success " style="width: 50%; " ui-sref="probabilidades ">Probabilidades</a>
			</div>
		</div>
	</body>
	</html>