<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>Not?ias</title>
</head>
<body>

	<h1>Noticia</h1>
	<table>
		<tr>
			<td>Titulo</td>
			<td>Noticia</td>
		</tr>

		<tr>
			<td><%= noticia[0].titulo %></td>
			<td><%= noticia[0].corpo %></td>
		</tr>

	</table>
</body>
</html>