<!DOCTYPE html ng-app="myApp">
<html>
<head>
	<title></title>
</head>
<body>
	<h5 style="text-align: center; margin-top: 80px; color: grey;">Insira os dados pesquisados:</h5>
	<div class="data-area" style="margin-top: 30px; width: 50%; margin-right: auto; margin-left: auto;">
		<label>
			<textarea class="input"rows="6" ng-model="entrada" placeholder="Ex.: 1,2,3,4,5"></textarea>
		</label>
	</div>
	<div class="buttons" style="width: 100%;">
		<div class="button-group" style="margin-right: auto; margin-left: auto; width: 30%;">
			<a class="hollow button success" style="width: 50%" ui-sref="home">Voltar</button>
				<a class="button success" style="width: 50%;" ng-click="censo()">Prosseguir</a>
			</div>
		</div>
	</body>
	</html>