<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h5 >Insira os dados pesquisados:</h5>
    <div >
        <form action="">
            <label>
                <textarea class="input" rows="6" ng-model="entrada" placeholder="Ex.: 1,2,3,4,5">
                </textarea>

            </label>
        </div>

        <h5 >Defina a margem de erro:</h5>
        <div>
            <input type="number" ng-model="erro">
        </div>
        <div class="buttons">
            <div class="button-group">
                <a class="hollow button success" ui-sref="home">Voltar</button>
                <a class="button success" " ng-click="amostraSistematica()">Prosseguir</a>
            </div>
        </div>
    </form>
</body>
</html>